@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--cl-indigo: #0f0c29;
	--cl-darker-indigo: #24243e;
	--cl-dark-purple: #302b63;
	--cl-white: #ffffff;
	--cl-pink: #bd0c47;
	--cl-light-gray: #bcbec0;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	background: linear-gradient(
		288deg,
		var(--cl-indigo) 0%,
		var(--cl-dark-purple) 50%,
		var(--cl-darker-indigo) 100%
	);
	color: var(--cl-white);
	overflow: hidden;
	position: relative;
}

.form {
	border: 0.1875rem solid rgba(255, 255, 255, 0.79);
	background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(0.78125rem);
	backdrop-filter: blur(0.78125rem);
	border-radius: 2.5rem;
	padding: 2.5rem 5rem;
	z-index: 10000;
}

.form__title {
	font-size: 2.375rem;
	font-weight: 600;
	margin-bottom: 1.25rem;
}

.form label {
	font-size: 1rem;
	font-weight: 200;
}

.form div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form div:first-of-type {
	margin-bottom: 1.5625rem;
}

.form input {
	outline: none;
	background-color: var(--cl-white);
	font-size: 0.885rem;
	padding: 0.885rem 1.25rem;
	border-radius: 0.625rem;
	border: 1px solid var(--cl-light-gray);
}

.form input::placeholder {
	color: var(--cl-light-gray);
}

.form__password {
	position: relative;
}

.form__password img {
	cursor: pointer;
	position: absolute;
	top: 55%;
	right: 20px;
}

.form__forgot {
	cursor: pointer;
	margin-top: 0.75rem;
	display: block;
	font-size: 0.75rem;
	margin-bottom: 1.875rem;
	font-weight: 200;
}

.form__button {
	cursor: pointer;
	border: none;
	color: var(--cl-white);
	background-color: var(--cl-pink);
	font-weight: 700;
	width: 100%;
	font-size: 1rem;
	padding: 0.885rem 1.25rem;
	border-radius: 0.625rem;
	margin-bottom: 1.875rem;
}

.form__others {
	display: block;
	text-align: center;
	font-size: 0.875rem;
	font-weight: 200;
	margin-bottom: 1.25rem;
}

.form__socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.875rem;
	margin-bottom: 1.25rem;
}

.form__social {
	cursor: pointer;
	display: grid;
	place-items: center;
	background-color: var(--cl-white);
	border-radius: 0.625rem;
	padding: 0.75rem;
	width: 9.375rem;
}

.register {
	text-align: center;
	font-size: 0.875rem;
	font-weight: 200;
}

.register span {
	cursor: pointer;
	font-weight: 400;
}

.bg-img {
	position: absolute;
	z-index: -1;
}

.image-1 {
	bottom: 0;
	left: 230px;
}

.image-2 {
	bottom: 0;
	left: 320px;
}

.image-3 {
	top: 0;
	left: 400px;
}

.image-4 {
	top: -10px;
	left: 780px;
}

.image-5 {
	z-index: 0;
	top: 130px;
	left: 220px;
}

.image-6 {
	top: 300px;
	left: 220px;
}

.image-7 {
	bottom: 80px;
	right: 200px;
}

.image-8 {
	z-index: 0;
	bottom: 120px;
	right: 260px;
}

.image-9 {
	left: -200px;
	bottom: 0;
}

.image-10 {
	right: -100px;
	bottom: -80px;
}
